<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.rawgit.com/muaz-khan/getScreenId/master/getScreenId.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://www.promisejs.org/polyfills/promise-6.1.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./teacher_classroom.css">
    <link rel="stylesheet" type="text/css" href="./scrollbar.css">
    <link rel="shortcut icon" href="#">
    <title>S-클래스 - 화상 수업 플랫폼을 지금 S-클래스에서 바로 진행해보세요.</title>
</head>
<body style="background-color: #202124;">
    <div id="root"></div>
    <video id="localVideo" class="video_cont" playsinline autoplay muted></video>
    <video id="remoteVideo" class="remote_video_cont" playsinline autoplay></video>
    <!--<div class="mute">
        <i id="slash_audio" class="fas fa-microphone-slash" style="color: red; margin-right: 5px"></i>
        <i id="slash_video" class="fas fa-video-slash" style="color: red; margin-right: 10px"></i>
        <span class="client_status" id="class_status" style="margin-left: auto;">jkw080305@naver.com</span>
    </div>!-->
    <div class="seat_ticket" id="seat_ticket">
        <seat_ticket-component></seat_ticket-component>
    </div>
    <div class="class_setting">
        <!--오디오 셋팅-->
        <div href="#noscroll" class="audio" id="audios">
            <i id="mu_audio" class="fas fa-microphone-slash" style="
            position: absolute; 
            margin-left: 20%; 
            font-size: 23px; 
            margin-top: 23%;"></i>
        </div>
        <!--비디오 셋팅-->
        <div href="#noscroll" class="video" id="videos">
            <i id="mu_video" class="fas fa-video-slash" style="
            position: absolute; 
            margin-left: 22%;
            font-size: 23px; 
            margin-top: 23%;"></i>
        </div>
        <!--채팅 Q&A-->
        <div href="#noscroll" class="chatting" id="chatting">
            <i class="fas fa-comments" style="
            position: absolute; 
            margin-left: 23%; 
            font-size: 23px;
            margin-top: 23%;"></i>
        </div>
        <!--화면공유-->
        <div href="#noscroll" class="screen" id="screens">
            <i class="fas fa-caret-square-up" style="
            position: absolute; 
            margin-left: 30%; 
            font-size: 23px;
            margin-top: 23%;"></i>
        </div>
        <!--문제지 관리-->
        <div href="#noscroll" class="problem" id="levels">
            <i class="fas fa-window-restore" style="
            position: absolute; 
            margin-left: 23%; 
            font-size: 23px;
            margin-top: 23%;"></i>
        </div>
        <!--자막-->
        <div href="#noscroll" class="cc" id="cc">
            <i class="fas fa-closed-captioning" style="
            position: absolute; 
            margin-left: 25%; 
            font-size: 23px;
            margin-top: 23%;"></i>
        </div>
        <!--강의실 종료-->
        <div href="#noscroll" class="close_class" id="delect_class">
            <i class="fas fa-phone-slash" style="
            position: absolute; 
            margin-left: 20%; 
            font-size: 23px;
            margin-top: 23%;"></i>
        </div>
    </div>
    <script src="./webrtc_setting/teacher_rtc.js" type="module"></script>
    <script src="./check_room/class_information.js"></script>
    <script src="./service_setting/no_reload.js"></script>
</body>
</html>