@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IBMPlexSansKR-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Choice_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wemakeprice-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 미디어 쿼리 반응형 처리.
/* 스마트폰 가로+세로 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
}

 /* 스마트폰 가로 */
@media only screen and (min-width : 321px) {
}

 /* 스마트폰 세로 */
@media only screen and (max-width : 320px) {
}

.video_cont {
    background: black;
    object-fit : cover;
    width: 300px;
    position: relative;
    margin-left: 0.5%;
    margin-top: 1%;
    border-radius: 10px;
    height: 200px;
}

.remote_video_cont {
    transform: rotateY(180deg); 
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    background: black;
    margin-left: 3%;
    margin-top: 1%;
    width: 300px;
    position: absolute;
    height: 200px;
    border-radius: 10px;
}

select:focus {outline: none;}
input:focus {outline:none;}

.seat {
    margin-left: 22%;
    width: 35%;
    height: 50%;
    background-color: rgb(31, 28, 28);
    margin-top: 4.8%;
    border-radius: 5px;
}

.seat_text {
    color: white;
    text-align: center;
    margin-top: 5px;
    font-weight: 900;
}

.seat_button {
    position: absolute;
    font-weight: 900;
    border: solid 2px blue;
    outline: none;    
    background-color: blue;
    color: black;
    border-radius: 10px;
    margin-left: 92%;
    margin-top: -6%;
}

.seat_sub_text {
    color: white;
    font-weight: 900;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 60%;
}

.seat_color_text {
    color: white;
    font-weight: 900;
    font-size: 15px;
    margin-left: 65%;
    margin-top: -4%;
}

.class_setting_icon {
    margin-left: -5%;
    margin-top: 23%;
}

.class_setting_text {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-left: 35%;
    margin-top: 36%;
    gap: 0 40px;
}

.audio {
    font-family: 'Apple SD Gothic Neo';
    position: absolute;
    width: 2.5%;
    height: 5%;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 40%;
    color: white;
    background-color: #ea4435;
    border-radius: 50%;
}

.video {
    font-family: 'Apple SD Gothic Neo';
    position: absolute;
    width: 2.5%;
    height: 5%;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 44.2%;
    color: white;
    background-color: #ea4435;
    border-radius: 50%;
}

.chatting {
    font-family: 'Apple SD Gothic Neo';
    position: absolute;
    width: 2.5%;
    height: 5%;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 48.5%;
    color: white;
    background-color: #545454;
    border-radius: 50%;
}

.screen {
    font-family: 'Apple SD Gothic Neo';
    position: absolute;
    width: 2.5%;
    height: 5%;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 52.4%;
    color: white;
    background-color: #545454;
    border-radius: 50%;
}

.problem {
    font-family: 'Apple SD Gothic Neo';
    position: absolute;
    width: 2.5%;
    height: 5%;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 56.3%;
    color: white;
    background-color: #545454;
    border-radius: 50%;
}

.cc {
    font-family: 'Apple SD Gothic Neo';
    position: absolute;
    width: 2.5%;
    height: 5%;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 60.3%;
    color: white;
    background-color: #545454;
    border-radius: 50%;
}

.close_class {
    font-family: 'Apple SD Gothic Neo';
    position: absolute;
    width: 2.5%;
    height: 5%;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 67%;
    color: white;
    background-color: #ea4435;
    border-radius: 50%;
}

.class_info {
    font-family: 'Apple SD Gothic Neo';
    position: absolute;
    width: 2.5%;
    height: 5%;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 96.5%;
    color: white;
    background-color: #545454;
    border-radius: 50%;
}

.users_list {
    font-family: 'Apple SD Gothic Neo';
    position: absolute;
    width: 2.5%;
    height: 5%;
    font-size: 30px;
    margin-top: 10%;
    margin-left: 100.4%;
    color: white;
    background-color: #545454;
    border-radius: 50%;
}

.chatting:hover, .screen:hover, .problem:hover, .cc:hover, .class_info:hover, .users_list:hover {
    background-color: #403f3d;
}

.close_class:hover {
    background-color: red;
}

.close_class_text {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    margin-left: 27.5%;
}

.class_info_text {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin-left: 57%;
    gap: 0 40px;
}

body {
    overflow: hidden;
    height: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: violet;
    text-decoration: none;
}
  
div {
    font-family: "IBMPlexSansKR-Regular";
}

.dropdown {
    display: inline-block;
    /* text not dragging */
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.dropdown-content {
    margin-left: 1120px;
    margin-top: 285px;
    font-weight: 500;
    display: block;
    position: absolute;
    background-color: #403f3d;
    color: white;
    min-width: 355px;
    border-radius: 7px;
    padding-left: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 2px;
    text-decoration: none;
    display: block;
    color: red;
    text-align: left;
}

.dropdown .dropdown-content {
    display: block;
}

.emot {
    font-weight: 600;
    color: red;
}

.audio_dropdown-content {
    position: relative;
    margin-left: 80px;
    font-weight: 500;
    background-color: #403f3d;
    color: white;
    min-width: 180px;
    padding-left: 16px;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: -100px;
    z-index: 1;
}

.audio_dropdown-content a {
    color: black;
    padding: 12px 2px;
    text-decoration: none;
    text-align: left;
}

.audio_dropdown-content button {
    border: none;
    background-color: #403f3d;
    color: white;
}
